logs
*.log
*.swp
npm-debug.log*
.DS_Store
.vscode/
dist/

# Coverage directory
coverage
.nyc_output

# Compiled binary addons (https://nodejs.org/api/addons.html)
dist

# Dependency directories
node_modules/

# cache directory
.npm
.eslintcache

# generate files
src/compiler/dot/*.js
