# ignore test and coverage they don't need to be uploaded
**/*.test.js
**/*.spec.js
**/__tests__
tests/**
coverage/**

#files not used after library is released
src
.editorconfig
.eslintrc.js
.nyc_output
.vscode
.travis.yml
.unit.mocharc.js
nyc.config.js
tsconfig.json
